<h1>{{name}}</h1>

<div id="pirateDiv">
	<div id="pirate">
		<ul>
			<li>Nickname: {{nickname}}</li>
			<li>Birthplace: {{birthplace}}</li>
			<li>Base of Operations: {{base}}</li>
			<li>Death Year: {{deathYear}}</li>
		</ul>
	</div>

	<div id='pirateImage'>
		<img src=url'{{image_source}}'>
	</div>
</div>

<a href="/pirates">Go back!</a>